html, body {
  height: 100%;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: rgb(21, 32, 43);
    color: white;
}

.container{
    max-width: 1250px;
}

h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.banner {
	height: 100%;
    background: #74CAFE;
}
.banner div{
    z-index: 15;
}
.logo{
    background: url('../img/logo.svg');
}

.divisor{
    background-color: #192734 ;
    height: 10px;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

#tweet-text-form{
    background: transparent;
    color: white;
    font-size: 20px;
    border: none;
}

.tweet-perfil-img{
    width:50px;
    height:50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    
}

.btn-primary{
    background-color: #1da1f2;
   
}
.btn-outline-primary{
    border-color: #1da1f2;
    color: #1da1f2;
}
.btn-outline-primary:hover{
    background: #1da1f2!important;
}
.btn{
    font-weight: 700;
}
.btn-primary:hover{
    background-color: #2991d1;
}

.title {
	color: #1da1f2;
    font-size: 36px;
    width: 50%;
    letter-spacing: 0.5px;
    line-height: 32px;
}

.subtitle {
	color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
}

.form-control {
    border-radius: 3px;
    color: white;
}
.form-control:focus{
    color: white;
}

.btn{
    border-radius: 25px;
}

.comunicacao {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.communicationItem {
	color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
    position: relative;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    color: white
}


.menuItem{
    font-weight: 600;
    font-size: 25px;
    margin: 5px 5px;
    padding: 5px 10px;
    display: flex;
    color: white;
    justify-content: left;
    align-items: center;
    fill: #fff;
}

.menuItem #menu-active{
    color: #1da1f2;
    fill: #1da1f2;
    font: bold;
}

.tweet-footer-icons{
    fill: #8095a5;
    height: 20px;
}
.delete-container:hover{
    background: rgba(29, 160, 242, 0.089);
    border-radius: 50px;
    fill: #1da1f2;
}

.deleteIcon:hover{
    fill: #1da1f2;
}

.tweet-footer-icons:hover{
    background: #192734;
    border-radius: 50px;
}

.tweet-img{
    width: 500px;
    height: 275px;
    border-radius: 25px;
    margin-top: 10px;
    object-fit: cover;
    object-position: center;
}
#cancel-img{
    background: rgba(4, 24, 36, 0.568);
    top: 7%;
    left: 2%;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
}
#cancel-img:hover{
    background: rgba(4, 24, 36, 0.671);
}
#cancel-img svg{
    fill: white;   
    height: 30px;
}
 
.menuItem .twitter-menu-icon .menu-icon:hover{
    font-size: 28px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.menuItem:hover {
    background: rgba(29, 160, 242, 0.089);
    color: #1DA1F2;;
    border-radius: 25px;
    text-decoration: none;
    fill: #1DA1F2;;
}

.menuItem .menu-text{
  justify-content: right;
  margin-left: 10px;
}

.menuItem .menu-icon{
    justify-content: left;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;

}

.menuItem .menu-icon svg{
    height: 1.75rem;
    color: white;
} 


.menuIco {
    width: 31px;
    height: 23px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-10px;
    margin-left:-15px;
}

.perfil-menu {
    position: fixed;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.form-icon-svg{
    height: 25px;
    fill: #1da1f2;
}

.icon-tweet{
    align-self: center;
}

.icon-tweet:hover{
    background: rgba(29, 160, 242, 0.089);
    border-radius: 100%;
}


.tweetBox {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    padding:25px;
}


.aside {
    border-radius: 15px;
    background-color: rgb(25, 39, 52);
    position: relative;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.asideTitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.asideTxt, .asideTxt:hover {
    color: #1DA1F2;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

.tweet {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.tweet:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.subjects{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
}

.subjects:hover{
    background-color: rgba(255, 255, 255, 0.062);
    cursor: pointer;
}

.subjects-minimal-text{
    font-size: 14px;
    color: #8095a5;
}

.subjects-titles{
    font-size: 18px;
    font-weight: 700;
}

.card{
    background-color: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
}

.profile-follow{
    text-transform: capitalize;
    padding: 10px 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-follow:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.062);
}

.btn-link-profile{
    display: flex;
    align-items: center;
    height: 65%;
    right: 0;
    width: max-content;
}

.form-input-who-to-follow{
    border-radius: 50px;
    background: #253341;
}

.perfil-info-tweets{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.perfil-icon{
    height: 25px;
    fill: #1da1f2;
}

.arrow:hover{
    background: rgba(29, 160, 242, 0.089);
    cursor: pointer;
    border-radius: 100%;
}

.img-perfil{
    object-fit: cover;
}

.perfil-header{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 200;
    background: #3D5466;
    margin-bottom: 2em;
    display: inline-block
}


.profile-header__image{
    position: absolute;
    top: 65%;
    border-radius: 50%;
    border-bottom: #8095a5;
}

.profile-header__image img{
    margin-left: 1em;
    border-radius: 100%;
    width: 135px;
    height: 135px;
    object-fit: cover;
    object-position: center;
}

.profile-body{
    margin-top: 3em;
    margin-left: 1em;
    bottom: 0;  
}

.profile-small-text{
    color: #8095a5;
    font-size: 16px;
}

.profile-nav a{
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
}

.profile-nav a:hover{
    background: rgba(29, 160, 242, 0.089);
}

.profile-nav a.active{
    border-bottom:2px solid #1da1f2;
    color: #1da1f2;
}

.profile-small-icons-info{
    height: 20px;
    fill: #8095a5;
}

.edit-button{
    position: absolute;
    display: flex;
    justify-content: end;
    right: 5%;
}

.profile-name-box{
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.tweet-border{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-content{
    background-color: #15202B;
}

.border{
    border-color: rgba(255, 255, 255, 0.2)!important;
}

.form-control{
    background: none;
    border: none;
}

.form-control:focus{
    border: none;
    background: none;
}

#view-img-profile-form:hover{
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}

.page-link{
    background-color: #253341;
    border-color: rgba(255, 255, 255, 0.1);
    color: #2991d1;
}


.page-link:hover{
    color: #2991d1;
    border-color: rgba(255, 255, 255, 0.1);
    background: rgba(29, 160, 242, 0.089);
}

.disabled .page-link{
    background-color: #8095a5;
}